apiVersion: v1
kind: Secret
metadata:
  name: {{ backup.name }}
  namespace: {{ namespace }}
type: Opaque
data:
  AWS_ACCESS_KEY_ID: {{ backup.s3.access_key_id }}
  AWS_SECRET_ACCESS_KEY: {{ backup.s3.secret_access_key }}
  AWS_ENDPOINTS: {{ backup.s3.endpoints }}
  AWS_CERT: {{ backup.s3.cert }}
