user nginx;

{% block worker %}
worker_processes {{ nginx_worker_processes }};
{% endblock %}

{% block events %}
events {
    use epoll;
    worker_connections 102400;
}
{% endblock %}


http {
    include       /etc/nginx/mime.types;
    default_type  application/octet-stream;
    access_log /dev/stdout;
    error_log /dev/stdout debug;
    log_format  main  '$remote_addr - $remote_user [$time_local] "$request" '
                      '$status $body_bytes_sent "$http_referer" '
                      '"$http_user_agent" "$http_x_forwarded_for"';
    sendfile on;
    keepalive_timeout 70;
    client_max_body_size 500M;
    client_header_buffer_size 128k;
    large_client_header_buffers 4 128k;

{% if setup_type == "k8s" %}
    resolver 10.96.0.10 ipv6=off valid=10s;
{% elif setup_type == "docker" %}
    resolver 127.0.0.11 ipv6=off valid=10s;
{% endif %}

    include /etc/nginx/conf.d/*.conf;
}

