###Kylin Linux Advanced Server 10 - os repo###

[ks10-adv-os]
name = Kylin Linux Advanced Server 10 - Os 
baseurl = http://{{ repository_url }}/ks10-adv-os-029d9cf182e8eb8b/
gpgcheck = 0
enabled = 1

[ks10-adv-updates]
name = Kylin Linux Advanced Server 10 - Updates
baseurl = http://{{ repository_url }}/ks10-adv-updates-857d09ecb846ac4a/ 
gpgcheck = 0
enabled = 1

# [ks10-adv-addons]
# name = Kylin Linux Advanced Server 10 - Addons
# baseurl =  
# gpgcheck = 0
# enabled = 1
